<div class="row">
    <div class="edit-form col-md-6">
        <h4>{{post.id ? 'Modifier un article' : 'Créer un article'}}</h4>
        <form>
            <div class="form-group">
                <label for="title">Titre</label>
                <input
                        type="text"
                        class="form-control"
                        id="title"
                        [(ngModel)]="post.title"
                        name="title"
                />
            </div>
            <div class="form-group">
                <label for="content">Contenu</label>
                <input
                        type="text"
                        class="form-control"
                        id="content"
                        [(ngModel)]="post.content"
                        name="content"
                />
            </div>
            <div class="form-group">
                <label for="tags">Tags</label>
                <input
                        type="text"
                        class="form-control"
                        id="tags"
                        [(ngModel)]="post.tags"
                        name="tags"/>
            </div>

            <div class="form-group">
                <label><strong>Status:</strong></label>
                {{ post.published ? "Publier" : "En attente" }}
            </div>
        </form>

        <button class="btn btn-secondary mr-2" routerLink="/posts">
            << Retour
        </button>

        <button type="submit"
                class="btn btn-success"
                (click)="savePost()">
            Enregistrer
        </button>
    </div>
</div>