
.row1{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-container{
    width: 70%;
}

.row2{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.listImg{
    
}



