<div class="content">



<div class="row1">
    <div class="img-container">
        <img class="listImg" src="assets/meeting.svg">
    </div>
</div>

<div class="row2">
 <div class="col-md-6">
 <h4>Liste des article </h4>
        
  <table class="table table-active">
    <thead>
      <tr>
        <th>id</th>
        <th>Titre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts; let i = index" (click)="setSelected(post, i)">
        <td><li class="list-group-item" [class.active]="i == currentIndex">{{ i+1 }}</li></td>
        <td><li class="list-group-item" [class.active]="i == currentIndex">{{ post.title }}</li></td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="!posts || posts.length == 0">
     La liste est vide, <a href="/form">ajoutez un article</a>
  </div>

  <a *ngIf="posts && posts.length > 0" class="btn btn-link" routerLink="/form">
    Nouveau article
  </a>
 </div>

 <div class="col-md-5 ml-5">
        <div *ngIf="!selected">
            <h4>Détails</h4>
            <div>Cliquez sur un article pour voir les détails ici.</div>
        </div>
        <div *ngIf="selected">
            <h4>Détails</h4>
            <div>
                <label><strong>Titre:</strong></label> {{ selected.title }}
            </div>
            <div>
                <label><strong>Contenu:</strong></label>
                {{ selected.content }}
            </div>
            <div>
                <label><strong>Tags:</strong></label> {{ selected.tags }}
            </div>
            <div>
                <label><strong>Status:</strong></label>
                {{ selected.published ? "Publier" : "En attente" }}
            </div>

            <a class="btn btn-sm btn-secondary mr-2" routerLink="/form/{{ selected.id }}">
                Modifier
            </a>

            <button class="btn btn-sm btn-danger mr-2" (click)="deletePost()">
                Supprimer
            </button>

            <button class="btn btn-sm btn-warning mr-2" *ngIf="selected.id && selected.published" (click)="updatePublished(false)">
                Désactiver
            </button>
            <button *ngIf="selected.id && !selected.published" class="btn btn-sm btn-warning mr-2" (click)="updatePublished(true)">
                Publier
            </button>
        </div>

        <p>{{ message }}</p>
    </div>


</div>

</div>
